<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
    <!-- css style -->
    <link rel="stylesheet" href="../../public/style/style.css">
    <title><%= title %></title>
</head>

<body>
    <div class="bg-grey fixed-top shadow-sm">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">Guild-1</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/kategori">Category</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="/detailbook">Detail Book</a>
                        </li> -->
                    </ul>
                    <div class="d-flex ">
                        <a href="/login" class="btn btn-primary active" role="button" aria-pressed="true">Login</a>
                        <a href="/register" class="btn btn-secondary active mx-2" role="button" aria-pressed="true">Register</a>
                        <a href="/shoppingcart" class="btn btn-success active mx-2" role="button" aria-pressed="true">
                            <img src="../../public/icon/icon-cart.png" width="24px" height="24px" alt="">
                        </a>
                        
                    </div>
                </div>
        </nav>
    </div>
    <!-- <h1><%= title %></h1> -->
    <!-- container global -->
    <div class="container bg-grey">