body{
    background-color: #F4F4F4;
}

.bg-grey {
    background-color: #F4F4F4;
}

.jumbotron-style {
    height: 200px;
    width: 100%;
    align-items: center;
    display: flex
}

.image-members{
    width: 200px;
    height: 200px;
    margin-bottom: 12px;
    object-fit: cover;
}

.member{
    background-color: #ffffff;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
}

.font-sub{
    font-size: medium;
    color: grey;
}

.forgot-pass{
    font-size: small;
    color: grey;
}
/* card */
.card-body{
    overflow: hidden;
    position: relative;
}
.member-card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sticky-fa-card{
    position : absolute;
    left : 0;
    top : 0;
    font-size: 100px;
    opacity: 0.2;
    transform: translate(-20%,-20%);
    -webkit-transform: translate(-20%,-20%);
    -moz-transform: translate(-20%,-20%);
    -o-transform: translate(-20%,-20%);
}
.bg-primary{
    background: var(--colorPrimary) !important;
    color : white;
}
.bg-darkBlue{
    background: var(--colorDarkBlue) !important;
}
.bg-rgb-info,.badge-info{
    background: rgba(23, 162,184,0.2);
    color : #17a2b8;
}
.badge-primary,.btn-rgb-primary{
    background: rgba(71, 145,254,0.2);
    color : var(--colorDarkBlue);
}
.bg-rgb-primary{
  color: #004085;
  background-color: #cce5ff;
  /* border-color: #c2def5; */
}
.badge-warning,.btn-rgb-warning,.bg-rgb-warning{
    background: rgba(255, 193,7,0.2);
    color : #ffc107;
}
.badge-success,.btn-rgb-success,.bg-rgb-success{
    background: rgba(40, 167,69,0.2);
    color : #28a745;
}
.badge-danger,.btn-rgb-danger,.bg-rgb-danger{
    background: rgba(220, 53,69,0.2);
    color : #dc3545;
}