<!-- Author: @nama -->

<%- include("partials/head") %>
<!-- ISI KONTEN DISINI -->
<div class="jumbotron jumbotron-fluid jumbotron-style">
    <div class="container">
        <br></br>
        <h1 class="display-4">Book Shop</h1>
        <p class="lead">find and buy books so you're in a good mood
        </p>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
    <% books.forEach(book => { %>
        <div class="col">
            <div class="card h-100">
                <img src="<%= book.image %>" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><%= book.name %></h5>
                    <p class="fw-bold"><%= book.kategori %></p>
                    <p class="card-text"><%= book.desc %></p>
                </div>
            </div>
        </div>
    <% }) %>
</div>

<div class="my-5">
    <h3>Members</h3>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <% members.forEach(member => { %>
            <div class="col ">
                <div class="card p-4 shadow-sm p-3 mb-5 bg-white rounded member-card">
                    <!-- <center> -->
                        <img src="<%= member.image %> " alt="..." class="image-members rounded-circle">
                    <p class="fw-bold m-0 text-capitalize"><%= member.name %> </p>
                    <p class="fw-lighter m-0 text-capitalize"><%= member.from %> </p>
                    <p class="fw-lighter m-0 text-capitalize"><%= member.school %> </p>
                    <!-- </center> -->
                </div>
            </div>
            <% }) %>
        </div>
</div>
<%- include("partials/footer") %>