<!-- Author: @nama -->

<%- include("partials/head") %>
<!-- ISI KONTEN DISINI -->
<div class="jumbotron jumbotron-fluid jumbotron-style mt-5 pt-5">
    <div class="container">
        <h1 class="display-2 fw-bold"><strong>Book Shop</strong></h1>
        <span class="badge bg-info text-dark mb-4 ">Our Category</span>
        <p class="lead">find and buy books so you're in a good mood
        </p>
        <hr>    
    </div>
</div>
<div class="container p-4">
    <div class="row mt-4">
        <div class="col">
            <div class="alert alert-primary font-weight-bold">Selamat Datang Di Aplikasi Book Shop</div>
        </div>
    </div>
    <div class="row my-5">
        <% kategori.forEach(item => { %>
        <div class="col-md-3 mb-4">
            <div class="card bg-rgb-<%= item.status  %> border border-<%= item.status     %>">
                <div class="card-body py-4">
                    <span class="fa fa-book sticky-fa-card"></span>
                    <div class="row align-items-center">
                        <div class="col-md-8 pr-0 font-weight-bold text">
                            <h4><%= item.title %> </h4>

                        </div>
                        <div class="col-md-4 pr-0 text-center">
                            <h1><%= item.jumlah %></h1>
                        </div>
                    </div>
                    <hr>
                    <p><%= item.desc %></p>
                </div>
            </div>
        </div>
        <% }) %>
      
     
    </div>

</div>

<%- include("partials/footer") %>
