<!-- Author: @wahyu -->

<%- include("partials/head") %>
<div class="content">
    <div class="container py-5 m-5">
      <div class="row mt-5 mb-3">
        <div class="col-md-6">
          <img src="../public/images/undraw_add_information_j2wg.svg" alt="Image" class="mt-4 img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Sign Up</h3>
              <p class="font-sub mb-1">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>
            </div>
            <form>
              <div class="form-group first mb-3">
                <input autocomplete="off" type="text" placeholder="Username" class="form-control py-2" id="username">

              </div>
              <div class="form-group last mb-2">
                <input autocomplete="off" type="password" placeholder="Password" class="form-control py-2" id="password">
                
              </div>
              <input type="submit" value="Register" class="btn btn-secondary active bg-dark mt-3">
            </form>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
<%- include("partials/footer") %>
