<!-- Author: @japra -->

<%- include("partials/head") %>
<!-- ISI KONTEN DISINI -->
<div class="container my-5">
    <div class="jumbotron jumbotron-fluid pt-3">
        <h1 class="display-3 fw-bold">Book Shop</h1>
        <span class="badge bg-success mb-2">Shopping Cart</span>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="card shadow">
                    <div class="card-body">
                        <h3>My Shopping Cart</h3>
                        <table class="table">
                            <thead>
                                <th class="col-8">Product</th>
                                <th class="col-2">Price</th>
                                <th class="col-2">Total</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td id="detailProduct">
                                    <h5>Detektif Conan</h5>
                                    <p>
                                        Qty: 2
                                    </p>
                                    <div class="row">
                                        <div class="col-2">
                                            <a href="#" class="btn btn-warning badge rounded-pill">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                                </svg>
                                                Edit
                                            </a>
                                        </div>
                                        <div class="col-2">
                                            <a href="#" class="btn btn-danger badge rounded-pill">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                                </svg>
                                                Delete
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td id="price">
                                    <p>Rp.50.000</p>
                                </td>
                                <td id="total">
                                    <p class="fw-bold">Rp.100.000</p>
                                </td>
                              </tr>
                              <tr>
                                <td id="detailProduct">
                                    <h5>KKN Desa Penari</h5>
                                    <p>
                                        Qty: 1
                                    </p>
                                    <div class="row">
                                        <div class="col-2">
                                            <a href="#" class="btn btn-warning badge rounded-pill">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                                </svg>
                                                Edit
                                            </a>
                                        </div>
                                        <div class="col-2">
                                            <a href="#" class="btn btn-danger badge rounded-pill">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                                </svg>
                                                Delete
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td id="price">
                                    <p>Rp.80.000</p>
                                </td>
                                <td id="total">
                                    <p class="fw-bold">Rp.80.000</p>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h3 class="mb-4">Total</h3>
                        <div class="row my-2 mx-1">
                            <div class="col-7">
                                <h6>Subtotal</h6>
                            </div>
                            <div class="col-5 text-end">
                                <h6>Rp.180.000</h6>
                            </div>
                        </div>
                        <div class="row my-2 mx-1">
                            <div class="col-7">
                                <h6>Delivery Fee</h6>
                            </div>
                            <div class="col-5 text-end">
                                <h6>Rp.10.000</h6>
                            </div>
                        </div>
                        <div class="row my-2 mx-1">
                            <div class="col-7">
                                <h5>Total</h5>
                            </div>
                            <div class="col-5 text-end">
                                <h5>Rp.190.000</h5>
                            </div>
                        </div>
                        <div class="d-grid gap-2 mt-4">
                            <a href="#" class="btn btn-success">Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer") %>
